
<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Yorum Yapın</h4>
    <p class="mb-4">
        Lütfen gerekli alanları doldurun *
    </p>
    
       <form method="post" asp-action="AddComment" asp-controller="Comment"> 
        <div class="form-group">
            <textarea name="CommentContent" class="form-control" placeholder="Your Comment*" required=""
                      spellcheck="false"></textarea>
        </div>
        <div class="input-grids row">

            <div class="form-group col-lg-6">
                <input type="text" name="CommentUser" class="form-control" placeholder="Your Name*"
                       required="">
            </div>
            <div class="form-group col-lg-6">
                <input type="hidden" value="@ViewBag.i" name="DestinationId" class="form-control" placeholder="." required="">
            </div>
        </div>

        <div class="submit text-right">
            <button class="btn btn-style btn-primary" type="submit">Yorum Yap </button>
        </div>
    </form>
    
</div>
